@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: #e6e2d7;
    color: #333;
    font-family: 'Noto Serif JP', serif;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.site-title {
    line-height: 1px;
    margin: 0 0 0 60px;
}

.site-title a {
    display: block;
}

.site-title img {
    width: 40px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@media (min-width:768px) {
    .wrapper {
        width: 100%;
        max-width: 1024px;
    }
}

/* ヘッダー */
#header {
    width: 100%;
    /* 背景を画面下まで設定 */
    height: 100vh;
    background-image: url(../img/mainvisual-sp.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 20px;
    margin-bottom: 80px;
    /* 「オンラインストアを見る」ボタンを配置するためのposition */
    position: relative;
    /* 縦書きの指定（各ブラウザに対応するためのベンダープレフィックスを設定） */
    writing-mode: vertical-rl;
}

#nav ul li {
    margin-left: 25px;
    font-weight: bold;
}

#header .onlinestore {
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#header .onlinestore a {
    display: block;
    border: 1px solid #ccc;
    padding: 30px 18px;
}

@media (min-width:768px) {
    #header {
        background-image: url(../img/mainvisual-pc.jpg);
        padding: 60px 80px;
        margin-bottom: 180px;
    }

    #header .onlinestore {
        left: 40px;
        bottom: 30px;
    }
}

/* ニュース */
#news {
    margin-bottom: 80px;
    display: flex;
    flex-direction: row-reverse;
}

#news .section-title {
    font-weight: 500;
    line-height: 1;
    writing-mode: vertical-rl;
}

#news .section-title .en {
    display: block;
    font-size: 0.875rem;
    margin-left: 15px;
}

#news .section-title .ja {
    display: block;
    font-size: 1.75rem;
    letter-spacing: 0.1em;
}

#news .list {
    padding: 20px 30px 0 0;
    writing-mode: vertical-rl;
}

#news .list dt {
    border-right: solid 1px #333;
    font-size: 0.75rem;
    padding: 15px 12px 15px 5px;
}

#news .list dd {
    padding: 15px 0 15px 12px;
}

#news .list dd:nth-of-type(3) {
    border-left: 1px solid #333;
}

#news .list .sp_display {
    display: none;
}

@media (min-width:768px) {
    #news {
        margin-bottom: 180px;
    }

    #news .section-title .ja {
        font-size: 2.25rem;
    }

    #news .list {
        padding: 80px 100px 0 0;
    }

    #news .list .sp_display {
        display: block;
    }

    #news .list dt {
        padding: 15px 30px 15px 5px;
    }

    #news .list dd {
        padding: 15px 0 15px 30px;
    }

    #news .list dd:last-child {
        border-left: solid 1px #333;
    }

    #news .list dd:nth-of-type(3) {
        border-left: none;
    }
}

/* プロデュース */
.products {
    display: flex;
    margin-bottom: 100px;
}

.products .section-title {
    font-weight: 500;
    line-height: 1;
}

.products .section-title .ja {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}

.products .section-title .en {
    display: none;
}

.products .img {
    width: 90%;
    margin-top: 70px;
    position: relative;
}

.products .text {
    width: 64%;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    position: absolute;
    bottom: -20px;
}

#products1 {
    flex-direction: row-reverse;
}

#products1 .section-title {
    margin-left: 10px;
    writing-mode: vertical-lr;
}

#products1 .text {
    background: rgba(249, 233, 6, 0.6);
    left: -20px;
}

#products2 .section-title {
    margin-right: 10px;
    writing-mode: vertical-rl;
}

#products2 .text {
    background: rgba(149, 42, 38, 0.6);
    right: -20px;
}

@media (min-width:768px) {
    .products {
        margin-bottom: 180px;
    }

    .products .section-title .ja {
        font-size: 2rem;
        margin-bottom: 18px;
    }

    .products .section-title .en {
        display: block;
        font-size: 0.875rem;
    }

    .products .img {
        width: 65%;
        margin-top: 100px;
    }

    .products .text {
        width: 56%;
        padding: 50px 0;
        font-size: 1rem;
    }

    #products1 .section-title {
        margin-left: 20px;
        display: flex;
        align-items: center;
    }

    #products2 .section-title {
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
}

/* ショップ */
#shop iframe {
    width: 100%;
    vertical-align: bottom;
}

/* フッター */
#footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px 30px 20px;
}

#footer .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    margin-bottom: 30px;
}

#footer .inner .left,
#footer .inner .right {
    writing-mode: vertical-rl;
}

#footer .inner .logo {
    width: 40px;
    margin-left: 25px;
}

#footer .inner .info {
    line-height: 2;
}

#footer .menu {
    font-size: 0.875rem;
    margin-right: 25px;
}

#footer .menu li {
    margin-left: 10px;
}

#footer .copyright {
    font-size: 0.625rem;
    text-align: center;
}

@media (min-width:768px) {
    #footer {
        background-color: #000;
        color: #fff;
        padding: 80px 80px 30px 30px;
    }

    #footer .inner {
        margin-bottom: 10px;
    }

    #footer .inner .logo {
        margin-left: 60px;
    }

    #footer .menu {
        font-size: 1rem;
        margin-right: 60px;
    }

    #footer .menu li {
        margin-left: 25px;
    }
}